* {
  margin: 0;
  padding: 0;
}

body {
  width: 80vw;
  max-width: 1260px;
  margin: 0 auto;
  background-color: #d3ebff;
}

h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

/* Header.css */

.nav-box {
  border: none;
  color: #cecece;
  background-color: #132b50 !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-wrap {
  margin: 0;
  height: 30px;
}

.home {
  padding: 50px 0;
  text-align: center;
}

/* Main.css */

.home h1 {
  font-size: 48px;
  margin-top: 20px;
}

/* About*/

.about-text {
  width: 50vw;
  margin: 0 auto;
}

/* Projects.css */

.project {
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.project-img {
  margin-top: 20px;
  margin-left: 20px;
}

.project-body {
  padding: 20px;
}
.project-text {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link {
  padding: 4px 8px;
  font-weight: 500;
  color: rgb(65, 65, 65);
  text-decoration: underline #fff;
  border: solid 1px black;
  border-radius: 4px;

  transition: 0.2s ease-out;
}
.link:hover {
  color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.12), 2px 3px 3px rgba(0, 0, 0, 0.24);
}

.tech {
  display: inline-block;
  margin: 3px;
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42;

  background-color: #eee;
  color: #5a5a5a;
  border: 1px solid rgb(122, 122, 122);
}

/* Skills.css */

.skills {
  display: flex;
  justify-content: center;
}

/* Footer*/

.footer {
  margin-top: 40px;
  margin-bottom: 0;
  color: #5a5a5a;
}

/* Bootstrap overrides */

.row {
  padding: 0 10px;
}

.list-group {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card {
  transition: 0.2s ease-out;
}

.card:hover {
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}
